html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
}

hr {
  width: 40%;
}

em {
  font-style: italic;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

a.button {
  padding: 0.5rem 1rem;
  color: #fafafa;
  text-align: center;
}

a.button.primary {
  background-image: linear-gradient(to top, #3B4D3D 0%, #769979 100%);
  color: white;
}

a.button.primary:hover {
  background-image: linear-gradient(to top, #29352b 0%, #526d54 100%);
  color: white;
}

.active {
  background: #769979;
  color: white;
}

/* Header */
header {
  position: fixed;
  top: 0;
  height: 3.5rem;
  width: 100%;
  background: #151E24;
  z-index: 999;
}

header .container {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
  background: #151E24;
}

header .container>.logo {
  height: 1rem;
  padding: 1.25rem 0;
}

input.hamburger-button {
  display: none;
}

input.hamburger-button~label {
  position: relative;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.25rem;
  cursor: pointer;
}

input.hamburger-button~label>div,
input.hamburger-button~label>div::before,
input.hamburger-button~label>div::after {
  content: "";
  position: absolute;
  top: 0.825rem;
  height: 0.125rem;
  width: 1.5rem;
  opacity: 1;
  background: white;
  -webkit-transition: 0.14s ease-in-out;
  transition: 0.14s ease-in-out;
}

input.hamburger-button~label>div::before {
  top: -0.5rem;
}

input.hamburger-button~label>div::after {
  top: 0.5rem;
}

header .container .hamburger-button:checked~label>div {
  width: 0;
  background: white;
}

header .container .hamburger-button:checked~label>div::before {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: -0rem;
}

header .container .hamburger-button:checked~label>div::after {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  top: -0rem;
}

header .container .hamburger-button:checked~.menu {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Mobile Menu Styles */
header .container .menu {
  position: absolute;
  z-index: -1;
  top: 4.6rem;
  -webkit-transform: translateX(calc(100vw - 1rem));
  transform: translateX(calc(100vw - 1rem));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  width: 100%;
  background: #fafafa;
  -webkit-transition: 0.22s ease-in-out;
  transition: 0.22s ease-in-out;
}

header .container .menu::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: #151e24;
}

header .container .menu nav {
  grid-area: auto;
}

header .container .menu nav ul {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

/* Navbar Text */
header .container .menu nav ul>li>a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: right;
  color: white;
  -webkit-transition: 0.14s ease-in-out;
  transition: 0.14s ease-in-out;
}

/* Navbar Text Hover */
header .container .menu nav ul>li>a:hover {
  color: white;
  background: #769979;
}

/* Padding between "PLAY GAME" button and nav items in mobile view */
header .container .menu div.buttons {
  grid-area: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
}

/* Nav bar PLAY GAME button */
header .container .menu div.buttons>* {
  -webkit-box-flex: 1;
  flex: 1;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 0.5rem;
  padding: 1.2rem;
}

.navlogo {
  width: 150px;
}

/* ///////////////////// Landing Page Section /////////////////////// */
.mainlogo {
  width: 70vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  position: relative;
}

.page-content h1 {
  margin-top: 1.5rem;
  font-size: 3.25rem;
  font-weight: 300;
  word-break: break-all;
  text-align: center;
}

.page-content h2 {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  font-weight: 500;
  word-break: break-all;
}

.page-content p {
  margin-top: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
}

.playbtn {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 0 auto;
  padding: 2rem 3rem 2rem 3rem;
  background-image: linear-gradient(to top, #3B4D3D 0%, #769979 100%);
  display: grid;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.playbtn:hover {
  background-image: linear-gradient(to top, #29352b 0%, #526d54 100%);
  cursor: pointer;
}

.landingheader {
  font-size: 50px;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  letter-spacing: 20px;
  color: white;
}

.parallax_header {
  background-image: url("../img/starpattern.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-color: #151E24;
}

/* ///////////////////// End Section /////////////////////// */

/* ///////////////////// Restoration Teams Section /////////////////////// */
#teamsection {
  background-color: #434A52;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.teamswrapper {
  min-height: 1080px;
  margin: 0 auto;
  position: relative;
  background-color: #434A52;
  width: 70%;
}

.teamsheader {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-top: 2rem;
}

h1 {
  padding-top: 5%;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  padding-top: 5%;
}

.itemText {
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: #5A7C7C;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

section ul li {
  list-style: none;
  background: #eee;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

section ul li.active {
  background: #769979;
  color: #fff;
}

section ul li:hover {
  background: #769979;
  color: white;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teams .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  display: block;
}

.teams .itemBox.hide {
  display: none;
}

.teams .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: #5A7C7C;
  color: white;
  transform: rotateY(180deg);
}

.icon-linkedin {
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.icon-linkedin:hover {
  opacity: 0.7;
}

.icon-web {
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: 56px;
}

.icon-web:hover {
  opacity: 0.7;
}

.cardh1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ///////////////////// End Section /////////////////////// */

/* ///////////////////// Program Info Section /////////////////////// */
#proginfo {
  min-height: 540px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  background-color: #5A7C7C;
  padding-bottom: 100px;
}

#progwrapper {
  width: 80%;
  margin: 0 auto;
}

.proginfogridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 3.5rem;
}

.proginfoheader {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
  font-weight: 500;
  letter-spacing: 3px;
}

.proginfoitem {
  color: black;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.progimg {
  max-width: 100%;
  vertical-align: bottom;
  border: 10px solid #434A52;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.proginfoitem2 {
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
}

/* ///////////////////// End Section /////////////////////// */

/* ///////////////////// Candid Images Section /////////////////////// */
#candids {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 540px;
  margin: 0 auto;
  position: relative;
  background-color: #434A52;
  padding: 2rem;
  text-align: center;
}

.candidgridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 3.5rem;
}

.candidheader {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
  font-weight: 500;
  letter-spacing: 3px;
}

.candidimage {
  background: white;
  border: 10px solid #434A52;
  text-align: center;
}

.candidwrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 15px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 20%;
  max-width: 25%;
  padding: 0 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 10px solid #69B7AE;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}



/* ///////////////////// End Section /////////////////////// */

/* ///////////////////// Play Game Section /////////////////////// */
.parallax {
  background-image: url("../img/starpattern.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 15rem;
  background-color: #151E24;
  text-align: center;
}

/* ///////////////////// End Section /////////////////////// */

/* ///////////////////// Footer Section /////////////////////// */
#footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 540px;
  margin: 0 auto;
  position: relative;
  background-color: #434A52;
  text-align: center;
}

.footerlogo {
  width: 18vw;
  text-align: center;
  cursor: pointer;
  padding: 3rem;
}

.footergridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-bottom: 5rem;
  margin-left: 30vw;
  margin-right: 30vw;
}

.footeritem {
  padding: 1rem;
  font-size: 16px;
  text-align: center;
}

.footeritem a {
  color: white;
}

.footeritem a:hover {
  color: #769979;
}

.socialgridcontainer {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.socialitem {
  padding: 10px;
  width: 2rem;
  text-align: center;
}

.socialitem:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ///////////////////// End Section /////////////////////// */

/* ///////////////////// Copyright /////////////////////// */
footer {
  background-color: #151E24;
  padding: 20px;
  color: white;
  text-align: center;
}

/* ///////////////////// End Section /////////////////////// */



/* --------------------------SMALL MOBILE STYLES-------------------------------- */
@media only screen and (max-width: 699px) {

  /* ///////////////////// Landing Page Mobile (S) /////////////////////// */
  .page-content {
    min-height: 200px;
  }

  .mainlogo {
    width: 100%;
    padding-top: 10rem;
  }

  .parallax {
    padding: 5rem;
  }

  .playbtn {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 15px;
  }

  .landingheader {
    font-size: 35px;
  }

  .teamsheader {
    font-size: 30px;
  }

  .teamswrapper {
    width: 100%;
  }

  .parallax_header {
    background-attachment: scroll;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Program Info Mobile (S) /////////////////////// */
  #proginfo {
    padding: 2rem;
    padding-bottom: 100px;
  }

  #progwrapper {
    width: 100%;
  }

  .proginfogridcontainer {
    grid-template-columns: 1fr;
  }

  .proginfoitem2 {
    padding: 0;
  }

  .proginfoheader {
    font-size: 30px;
  }

  .show-mobile {
    display: block;
    padding-bottom: 0;
  }

  .hide-mobile {
    display: none;
  }



  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Candid Images Mobile (S) /////////////////////// */
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .candidheader {
    font-size: 30px;
  }


  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 10px solid #69B7AE;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .candidwrapper {
    width: 100%;
  }

  /* ///////////////////// End Section /////////////////////// */


  /* ///////////////////// Footer Mobile (S) /////////////////////// */
  .footergridcontainer {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .footeritem {
    padding: 1rem;
    font-size: 14px;
  }

  #footer {
    min-height: 350px;
  }

  .footerlogo {
    width: 200px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    padding-top: 3rem;
  }

  .parallax {
    background-attachment: scroll;
  }

  hr {
    width: 70vw;
  }
}

/* ///////////////////// End Section /////////////////////// */

/* --------------------------LARGE MOBILE STYLES-------------------------------- */
@media only screen and (min-width: 600px) {

  /* ///////////////////// Landing Page Mobile (L) /////////////////////// */
  .page-content {
    min-height: 200px;
  }

  .mainlogo {
    width: 100%;
    padding-top: 10rem;
  }

  .parallax {
    padding: 5rem;
  }

  .playbtn {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 15px;
  }

  .teamsheader {
    font-size: 30px;
  }

  .teamswrapper {
    width: 100%;
  }

  .parallax_header {
    background-attachment: scroll;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Program Info Mobile (L) /////////////////////// */
  #proginfo {
    padding: 2rem;
    padding-bottom: 100px;
  }

  #progwrapper {
    width: 90%;
  }

  .proginfogridcontainer {
    grid-template-columns: 1fr;
  }

  .proginfoitem2 {
    padding: 0;
  }

  .proginfoheader {
    font-size: 30px;
  }

  .show-mobile {
    display: block;
    padding-bottom: 0;
  }

  .hide-mobile {
    display: none;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Candid Images Mobile (L) /////////////////////// */

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 10px solid #69B7AE;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .candidwrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .candidheader {
    font-size: 30px;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Footer Mobile (L) /////////////////////// */
  .footergridcontainer {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .footeritem {
    padding: 1rem;
    font-size: 14px;
  }

  #footer {
    min-height: 350px;
  }

  .footerlogo {
    width: 250px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    padding-top: 3rem;
  }

  .parallax {
    background-attachment: scroll;
    padding: 5rem;
  }

  hr {
    width: 70vw;
  }
}

/* ///////////////////// End Section /////////////////////// */


/* --------------------------TABLET STYLES-------------------------------- */
@media only screen and (min-width: 800px) {

  header {
    height: 9rem;
  }

  header .container {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-box-pack: start;
    justify-content: flex-start;
    border: none;
  }

  input.hamburger-button~label {
    display: none;
  }

  header .container .menu {
    z-index: unset;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: grid;
    grid-template-columns: auto -webkit-max-content;
    grid-template-columns: auto max-content;
    grid-template-rows: 5rem 3rem;
    background: none;
    -webkit-transition: none;
    transition: none;
  }

  header .container .menu::after {
    display: none;
  }

  header .container .menu div.buttons {
    grid-area: 1/2/2/3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
  }

  header .container .menu nav {
    grid-area: 2/1/3/3;
  }

  header .container .menu nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
  }

  header .container .menu nav ul>li {
    -webkit-box-flex: 1;
    flex: 1;
  }

  header .container .menu nav ul>li>a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  /* ///////////////////// Restoration Teams Tablet /////////////////////// */

  .teamswrapper {
    width: 80%;
  }

  .parallax_header {
    background-attachment: scroll;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Program Info Tablet /////////////////////// */
  #proginfo {
    padding: 2rem;
  }

  #progwrapper {
    width: 70%;
  }

  .proginfogridcontainer {
    grid-template-columns: 1fr;
  }

  .proginfoitem2 {
    padding: 0;
  }

  .proginfoheader {
    font-size: 30px;
  }

  .landingheader {
    padding-top: 15rem;
    padding-bottom: 5rem;
    letter-spacing: 20px;
  }

  .show-mobile {
    display: block;
    padding-bottom: 0;
  }

  .hide-mobile {
    display: none;
  }

  /* ///////////////////// End Section /////////////////////// */


  /* ///////////////////// Candid Images Tablet /////////////////////// */

  .column {
    -ms-flex: 50%;
    flex: 20%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 10px solid #69B7AE;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .candidwrapper {
    width: 100%;
  }

  .candidheader {
    font-size: 30px;
  }

  /* ///////////////////// End Section /////////////////////// */


  /* ///////////////////// Footer Tablet /////////////////////// */
  .footergridcontainer {
    padding-bottom: 5rem;
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .footeritem {
    padding: 1rem;
    font-size: 16px;
  }

  #footer {
    min-height: 350px;
  }

  .footerlogo {
    width: 250px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    padding-top: 3rem;
  }

  .parallax {
    background-attachment: scroll;
    padding: 5rem;
  }

  hr {
    width: 40vw;
  }
}

/* ///////////////////// End Section /////////////////////// */


/* --------------------------DESKTOP STYLES-------------------------------- */
@media only screen and (min-width: 1300px) {

  header {
    height: 5.2rem;
  }

  header .container .menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    grid-template-columns: 4rem auto;
    grid-template-columns: 4rem auto max-content;
    grid-template-rows: 1fr;
    height: 5rem;
    padding: 0 1.5rem;
    -webkit-transition: none;
    transition: none;
  }

  header .container .menu nav {
    grid-area: 1/2/2/3;
    padding: 1rem;
  }

  header .container .menu div.buttons {
    grid-area: 1/3/2/4;
  }

  header .container .menu div.buttons>* {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }

  header .container .menu nav ul {
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  header .container .menu nav ul>li {
    -webkit-box-flex: 0;
    flex: 0;
  }

  header .container .menu nav ul>li>a {
    width: max-content;
    padding: 1.25rem 1.5rem;
  }

  /* ///////////////////// Landing Page Desktop /////////////////////// */
  .mainlogo {
    width: 70vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .landingheader {
    font-size: 50px;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    letter-spacing: 20px;
    color: white;
  }

  .parallax_header {
    background-image: url("../img/starpattern.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-color: #151E24;
  }

  .page-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    position: relative;
  }

  .page-content h1 {
    margin-top: 1.5rem;
    font-size: 3.25rem;
    font-weight: 300;
    word-break: break-all;
    text-align: center;
  }

  .page-content h2 {
    margin-top: 1.5rem;
    font-size: 1.75rem;
    font-weight: 500;
    word-break: break-all;
  }

  .page-content p {
    margin-top: 0.75rem;
    line-height: 1.25rem;
    text-align: center;
  }

  .playbtn {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 0 auto;
    padding: 2rem 3rem 2rem 3rem;
    background-image: linear-gradient(to top, #3B4D3D 0%, #769979 100%);
    display: grid;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }

  .playbtn:hover {
    background-image: linear-gradient(to top, #29352b 0%, #526d54 100%);
    cursor: pointer;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Program Info Desktop /////////////////////// */
  #proginfo {
    min-height: 540px;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    background-color: #5A7C7C;
    padding-bottom: 100px;
  }

  #progwrapper {
    width: 80%;
    margin: 0 auto;
  }

  .proginfogridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 3.5rem;
  }

  .proginfoitem {
    color: black;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .progimg {
    max-width: 100%;
    vertical-align: bottom;
    border: 10px solid #434A52;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .proginfoitem2 {
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 2rem;
  }


  .proginfoheader {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 500;
    letter-spacing: 3px;
  }

  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }


  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Candid Images Desktop /////////////////////// */
  #candids {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 540px;
    margin: 0 auto;
    position: relative;
    background-color: #434A52;
    padding: 2rem;
  }

  .candidwrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .candidheader {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
  }

  .row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 15px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 20%;
    max-width: 25%;
    padding: 0 15px;
    padding-bottom: 100px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 10px solid #69B7AE;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Teams Desktop /////////////////////// */
  #teamsection {
    background-color: #434A52;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .teamswrapper {
    min-height: 1080px;
    margin: 0 auto;
    position: relative;
    background-color: #434A52;
    width: 70%;
  }

  .teamsheader {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
  }

  h1 {
    padding-top: 5%;
    font-size: 18px;
    font-weight: bold;
  }

  h2 {
    padding-top: 5%;
  }

  .itemText {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #5A7C7C;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 2px 2px black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  }

  section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  section ul li {
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  }

  section ul li.active {
    background: #769979;
    color: #fff;
  }

  section ul li:hover {
    background: #769979;
    color: white;
  }

  .teams {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .teams .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    display: block;
  }

  .teams .itemBox.hide {
    display: none;
  }

  .teams .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: black;
  }

  .flip-card-back {
    background-color: #5A7C7C;
    color: white;
    transform: rotateY(180deg);
  }

  .icon-linkedin {
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .icon-linkedin:hover {
    opacity: 0.7;
  }

  .icon-web {
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 56px;
  }

  .icon-web:hover {
    opacity: 0.7;
  }

  .cardh1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Play Game Desktop /////////////////////// */
  .parallax {
    background-image: url("../img/starpattern.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 10rem;
    background-color: #151E24;
    text-align: center;
  }

  /* ///////////////////// End Section /////////////////////// */

  /* ///////////////////// Footer Desktop /////////////////////// */
  #footer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: #434A52;
    text-align: center;
  }

  .footerlogo {
    width: 300px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    padding-top: 3rem;
  }

  .footergridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 5rem;
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .footeritem {
    padding: 1rem;
    font-size: 16px;
    text-align: center;
  }

  .footeritem a {
    color: white;
  }

  .footeritem a:hover {
    color: #769979;
  }

  .socialgridcontainer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }

  .socialitem {
    width: 2rem;
    text-align: center;
  }

  .socialitem:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  hr {
    width: 40vw;
  }

  /* ///////////////////// End Section /////////////////////// */

}