* {
  font-family: 'Press Start 2P', cursive;
}

.grid {
  display: grid;
  grid-template-columns: 300px 320px 200px;
}
 
.left-column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  bottom: 100px;
  position: absolute;
}

.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20%;
  background-image: url("images/score.png");
   background-repeat: no-repeat;
   width: 100%;
  
}

.game-board {
  
  background-image: url("images/game-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.play-button {
  background-color: gray;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  bottom: 140px;
  position: absolute;
}

.right-column {
   padding-left: 80%;
   background-image: url("images/eyes.png");
   background-repeat: no-repeat;
   width: 100%;

}

#next {
  bottom: 140px;
  position: absolute;
}

