BODY { 
    background: gray;
    }
    
    .tiles {
      display: table-cell;
      width: 120px;
      height: 120px;
      background-image: url(../img/tigerface.png); 
      cursor: pointer;
    }
    
    .tile1 {
      background-position: 0 0;
    }
    .tile2 {
      background-position: 33% 0;
    }
    .tile3 {
      background-position: 67% 0;
    }
    .tile4 {
      background-position: 100% 0;
    }
    .tile5 {
      background-position: 0 33%;
    }
    .tile6 {
      background-position: 33% 33%;
    }
    .tile7 {
      background-position: 67% 33%;
    }
    .tile8 {
      background-position: 100% 33%;
    }
    .tile9 {
      background-position: 0 66%;
    }
    .tile10 {
      background-position: 33% 66%;
    }
    .tile11 {
      background-position: 66% 66%;
    }
    .tile12 {
      background-position: 100% 66%;
    }
    .tile13 {
      background-position: 0 100%;
    }
    .tile14 {
      background-position:  33% 100%;
    }
    .tile15 {
      background-position: 67% 100%;
    }
    .tile16 {
      background-color: white;
      display: table-cell;
      width: 120px;
      height: 120px;
      cursor: pointer;
    }