body  {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-image:url(../img/maingame-starbackground.png);
  background-repeat:repeat-x;
  background-position: bottom;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
  /* background-size: 2000px 300px; */
  /* font-size: 20px; */
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  max-width: 65ch;
  color: #D6DCD5;
}
@media only screen and (max-width: 1001px) and (min-width: 601px){



  }
  
#wrapper  {
  margin: 0 auto;
  height:2000px;
  
  

  }
  *, *::after, *::befor{
  	box-sizing: border-box;

  }

  .modal{
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%)scale(0);
  	transition: 200ms ease-in-out;
  	border: 1px solid black;
		border-radius: 10px;
		width: 1020px;
		padding: 10px;

  }
  .modal.active{
  	transform: translate(-50%, -50%) scale(1);
  }  
  
  .close-button{
  	position: fixed;
  	top: 1%;
  	right: 1%;
  	cursor: pointer;
  	background: none;
  	border: none;
  	outline: none;
  	font-size: 1.25rem;
  	font-weight: bold;
  }
  #overlay{
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: gray;
  	pointer-events: none;
  }
  
.rectanglelarge {
  position: relative;
  height: 660px;
  width: 1000px;
 
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 60px; 

}
#main-radar{
  height: 600px;
  width: 1000px;
  margin: auto;
  background-image: url(../../img/kos_radarGame_final3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#radarimg{
position: absolute;
  
  width: 230px;
  top:  26.6%;
  left:  66.5%;
  
 
}
#radarimgon{
position: absolute;
 
  width: 230px;
  top:  26.6%;
  left:  66.5%;
  
 
}
#stars{
  position: absolute;
  height: px;
  width: 240px;
  top:  6.3%;
  left:  66.5%;
  z-index: -1;
}
#kal{
  position: absolute;
  height: 170px;
  width: 200px;
  top: 3%;
  left: 18.3%;
   z-index: -1;
}

.rectanglelsmaller {
  position: relative;
  height: 250px;
  width: 400px;
  /* background-color: black; */
 
  margin: 1%;
  float: left;
 
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
  top: 155px;
  left: 275px
}

#switchone  {
	position: absolute;
	
	left: 35.1%;
  height: 50px;
  width: 32px;
  top: 3.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchonept{
  position: absolute;
  
  left: 35.1%;
  height: 50px;
  width: 32px;
  top: 6.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}


#switchtwo{
	position: absolute;
	
	left: 40%;
  height: 50px;
  width: 32px;
 top: 6.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchtwopt{
position: absolute;
  
  left: 40%;
  height: 50px;
  width: 32px;
  top: 3.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;

}
#switchthree{
	position: absolute;
	
	left: 44.5%;
  height: 48px;
  width: 32px;
  top: 6.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchthreept{
position: absolute;
  
  left: 44.5%;
  height: 50px;
  width: 32px;
  top: 3.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;

}

#switchfour{
	position: absolute;
	
	left: 49.3%;	
  height: 50px;
  width: 32px;
 top: 3.4%;
background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchfourpt{
  position: absolute;
  
  left: 49.3%;  
  height: 50px;
  width: 32px;
  top: 6.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#switchfive{
	position: absolute;

	left: 54%;
  height: 50px;
  width: 32px;
  top: 3.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchfivept{
  position: absolute;
  
  left: 54%;
  height: 50px;
  width: 32px;
  top: 6.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#switchsix{
	position: absolute;
	height: 50px;
	width: 32px;
	top: 3.4%;
	left: 58.4%;
 background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}
#switchsixpt{
  position: absolute;
  
  left: 58.4%;
  height: 50px;
  width: 32px;
  top: 6.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#buttonone{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 36%;
	left: 19.4%;
  
  background: none;
 
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#buttontwo{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 41%;
	left: 19.4%;
  
  background: none;
  background-size: 100%;
  
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#buttonthree{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 46.4%;
	left: 19.4%;
  background: none;
 
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#buttonfour{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 51.6%;
	left: 19.4%;
  
  background: none;
 background-size: 100%;
 
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#buttonfive{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 56.7%;
	left: 19.4%;
  
  background: none;
 background-size: 100%;
  
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#playbox{
color: white; 
text-align: center;
font-size: 20px;
}
#const {
	color: white; 
text-align: center;
font-size: 20px;
}
#playgame{
	position: fixed;
	size: 20px;
	top: 10px;
	right: 10px;
}

