body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #D6DCD5;
  font-size: 20px;
  line-height: 1.7em;
  background-color: #151E24;
  background-image:url(../../../img/maingame-starbackground.png);
  background-repeat:repeat-x;
  background-position: bottom;
  height: 100vh;
}

#wrapper-slide {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 10%;
}

#table {
  width: 50%;
  margin: auto;
}
    
/* sizing and styling for all tiles in the table except tile 16 */
  .tiles {
  display: table-cell;
  width: 120px;
  height: 120px;
  background-image: url(../img/foxmask.png); 
  cursor: pointer;
  border: 1px solid white;
}

/* position on the image within each tile. Starts in the upper left corner as tile 1 and snakes down to finish with tile 16. This uses a single background image called in the .tiles class */
.tile1 {
  background-position: 0 0;
}
.tile2 {
  background-position: 33% 0;
}
.tile3 {
  background-position: 67% 0;
}
.tile4 {
  background-position: 100% 0;
}
.tile5 {
  background-position: 0 33%;
}
.tile6 {
  background-position: 33% 33%;
}
.tile7 {
  background-position: 67% 33%;
}
.tile8 {
  background-position: 100% 33%;
}
.tile9 {
  background-position: 0 66%;
}
.tile10 {
  background-position: 33% 66%;
}
.tile11 {
  background-position: 66% 66%;
}
.tile12 {
  background-position: 100% 66%;
}
.tile13 {
  background-position: 0 100%;
}
.tile14 {
  background-position:  33% 100%;
}
.tile15 {
  background-position: 67% 100%;
}

/* styled individually as it is needed to keep the white tile separate from the other tiles. */
.tile16 {
  background-color: white;
  display: table-cell;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 1px solid white;
}

#sp-options{
  margin: auto;
  width:100%;
  display:flex;
  justify-content: space-between;
  justify-items:center;
  align-content: center;
}

@media only screen and (max-width: 600px){

  #table{
    width: 20%;
  }
}