body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #D6DCD5;
    font-size: 20px;
    line-height: 1.7em;
    background-color: #151E24;
    background-image:url(../../../img/maingame-starbackground.png);
    background-repeat:repeat-x;
    background-position: bottom;
    height: 100vh;
}

#wrapper {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 10%;
}           

/*----TABLE----*/
td, th {
    border: 1px solid black;  
}

table {
    width: 100%;
    text-align: left;
}

label {
    display: inline-block;
    width: 80%;
    }

.fields {
    float: right;
}

#table-2 {
    display: none;
}

#table2-btn {
    display: none;
}

