body  {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: grey;
}

#wrapper  {
  width: 100%;
  height:2000px;
  margin: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myBtn{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn2{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn3{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn4{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn5{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn6{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn7{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 0px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close5 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close6 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close7 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close7:hover,
.close7:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.rectanglelargeblack { /*--- removed float and relative positioning, changed margin to auto, dropped opacity a bit*/
  position: relative;
  height: 600px;
  width: 1000px;
  background-color: black;
  margin: auto;
  border: 2px solid black;
  opacity: 1;
  font-size: 10px;
  text-align: cent;
  vertical-align: middle;
  line-height: 25px; 
  padding: 30px;
}

.rectanglelarge {
  position: absolute;
  height: 600px;
  width: 1000px;
 	top: 1%;
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
}

#close-button{
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
}

/* BEGIN story  css   */
#Next{
	position: fixed;
	height: 20px;
	width: 50px;
	top: 600px;
	left: 60px;
	background: none;
	background-image: url(../img/arrow.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
  	outline: none;	
}

#Back{
	position: fixed;
	height: 20px;
	width: 60px;
	top: 600px;
	left: 900px;
}

#choiceone{
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 130px;
}

#choicetwo{
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 400px;
}

#choicethree{
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 600px;
}

#playboxmain{
	color: white; 
text-align: left;
font-size: 20px;
}

#radar-puzzle{
	position: fixed;
	top: 1px;
	left:1px;
}

#tiger-puzzle{
	position: fixed;
	top: 1px;
	left:1px;
}

#mainstory{
	background-size: 100%;
	background-repeat: no-repeat;
}

/* radar puzzle  css   */

#playbox{
color: white; 
text-align: center;
font-size: 20px;
}

#const {
	color: white; 
  text-align: center;
  font-size: 20px;
}

#playgame{
	position: fixed;
	size: 20px;
	top: 10px;
	right: 10px;
} 

.rectanglelsmaller {
  position: relative;
  height: 250px;
  width: 400px;
  background-color: black;
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
  top: 155px;
  left: 275px
}

#switchone  {
	position: fixed;
	height: 75px;
	width: 60px;
	top: 65px;
	left: 230px;
}

#switchtwo{
	position: fixed;
	height: 75px;
	width: 60px;
	top: 65px;
	left: 290px;
}

#switchthree{
	position: fixed;
	height: 75px;
	width: 60px;
	top: 65px;
	left: 350px;
}

#switchfour{
	position: fixed;
	height: 75px;
	width: 60px;
	top: 65px;
	left: 410px;	
}

#switchfive{
	position: fixed;
	height: 75px;
	width: 60px;
	top: 65px;
	left: 470px;
}

#switchsix{
	position: fixed;
	height: 75px;
	width: 60px;
	top: 65px;
	left: 530px;
}

#buttonone{
	position: fixed;
	height: 45px;
	width: 45px;
	top: 280px;
	left: 45px;
}

#buttontwo{
	position: fixed;
	height: 45px;
	width: 45px;
	top: 325px;
	left: 45px;
}

#buttonthree{
	position: fixed;
	height: 45px;
	width: 45px;
	top: 370px;
	left: 45px;
}

#buttonfour{
	position: fixed;
	height: 45px;
	width: 45px;
	top: 415px;
	left: 45px;
}

#buttonfive{
	position: fixed;
	height: 45px;
	width: 45px;
	top: 460px;
	left: 45px;
}
/* END radar puzzle css   */

/* BEGIN tiger puzzle  css   */
#slidercenterer{
	position: fixed;
	top: 20%;
	left: 30%;
	
}

.tiles {
  display: table-cell;
  width: 120px;
  height: 120px;
  background-image: url(../img/foxmask.png); 
  cursor: pointer;
  border: 1px solid white;
}
    
/* position on the image within each tile. Starts in the upper left corner as tile 1 and snakes down to finish with tile 16. This uses a single background image called in the .tiles class */
.tile1 {
  background-position: 0 0;
}
.tile2 {
  background-position: 33% 0;
}
.tile3 {
  background-position: 67% 0;
}
.tile4 {
  background-position: 100% 0;
}
.tile5 {
  background-position: 0 33%;
}
.tile6 {
  background-position: 33% 33%;
}
.tile7 {
  background-position: 67% 33%;
}
.tile8 {
  background-position: 100% 33%;
}
.tile9 {
  background-position: 0 66%;
}
.tile10 {
  background-position: 33% 66%;
}
.tile11 {
  background-position: 66% 66%;
}
.tile12 {
  background-position: 100% 66%;
}
.tile13 {
  background-position: 0 100%;
}
.tile14 {
  background-position:  33% 100%;
}
.tile15 {
  background-position: 67% 100%;
}

/* styled individually as it is needed to keep the white tile separate from the other tiles. */
.tile16 {
  background-color: white;
  display: table-cell;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 1px solid white;
}
/* END tiger puzzle  css   */




.grid {
  display: grid;
  grid-template-columns: 300px 320px 200px;
}
 
.left-column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
  background-color: white;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

img {
  position: fixed;
  width: 490;
  height: 470;
  top: 480px;
  left: 170px;
}


/* HORIZATOR PUZZLE CSS */

.rectanglelarge {
  position: absolute;
  height: 660px;
  width: 1000px;
 	top: 1%;
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 60px; 
}

#textbox{
	position: absolute;
  height: 560px;
  width: 800px;
 	top: 1%;
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 60px; 
}

#textboxtext{
	color: white; 
  text-align: center;
  font-size: 20px;
}

#playgame-btn{
	position: fixed;
	height: 50px;
	width: 100px;
	top: 300px;
	left: 450px;
}

/* BEGIN story  css   */
/* #Next {
	position: fixed;
	height: 20px;
	width: 60px;
	top: 600px;
	left: 60px;
}

#Back {
	position: fixed;
	height: 20px;
	width: 60px;
	top: 600px;
	left: 900px;
}

#choiceone {
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 130px;
}

#choicetwo{
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 400px;
}

#playboxmain{
	color: white; 
text-align: center;
font-size: 20px;
}
#playboxmain2{
	color: white; 
text-align: center;
font-size: 20px;
} */

/* story css */

/* Library */

/* body  {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  font-family: helvetica,sans-serif;
  font-size: 20px;
} */
  
#playboxmain2{
  color: white; 
  text-align: left;
  font-size: 20px;
}
#mainstorylib{
	background-size: 100%;
	background-repeat: no-repeat;
}

/* Library */
/* BEGIN troop */
/* END troop */

/* BEGIN kitchen */
#tea-directions {
  width: 49%;
  float: left;
}

#makeTea-continue {
  clear: both;
}

/*----troop  carrer---*/
#troop-wrapper  {
  width: 100%;
  height:2000px;
  margin: 0;
}

/*-----KITCHEN CLOSET-----*/
#wrapper2  {
  width: 100%;
  height:2000px;
  margin: 0;
  color: white;
}
#kitchen-closet {
  width: 49%;
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#found-teaKettle:hover {
  cursor: grab;
}

#found-teaKettle:active {
  cursor: grabbing;
}

/*-----CUCUMBER SANDWICH-----*/
#cucmber-sandwich:hover {
  cursor: grab;
}

#cucumber-sandwich:active {
  cursor: grabbing;
}

/* END kitchen */