body  {
  padding: 0%;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  background-image:url(../img/maingame-starbackground.png);
  background-repeat:repeat-x;
  background-position: bottom;
  /* background-size: 2000px 300px; */
  /* font-size: 20px; */
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  max-width: 65ch;
  color: #D6DCD5;
}

#wrapper  {
  width: 100%;
  min-height:100vh;
  margin: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.modal2 {
  display: none; /* Hidden by default */
  
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

#myBtn, #myBtn2, #myBtn3, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7{
	position: absolute;
  top: 70vh;
	left: 50vw;
  padding:.5rem;
  background-image: linear-gradient(to top, #3B4D3D 0%, #769979 100%);
  color: white;
  text-align: center;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: 'Montserrat', sans-serif;
}

#myBtn:hover,#myBtn2:hover, #myBtn3:hover, #myBtn3:hover, #myBtn4:hover, #myBtn5:hover, #myBtn6:hover, #myBtn7:hover{
  background-image: linear-gradient(to top, #29352b 0%, #526d54 100%);
  color: white;
}

/* #myBtn2{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn3{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn4{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn5{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn6{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
}

#myBtn7{
	position: fixed;
	height: 30px;
	width: 100px;
	top: 450px;
	left: 60px;
} */

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 0px;
}

/* The Close Button */
.close {
  color: #78CBC4;
  /* float: right; */
  margin-left: 95%;
  margin-top:.2%;
  font-size: 60px;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close5 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close6 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close7 {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close7:hover,
.close7:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.rectanglelarge {
  position: absolute;
  height: 600px;
  width: 1000px;
  top: 1%;
  margin: 1%;
  float: left;
  /* border: 2px solid black; */
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
}

#close-button{
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
}

/* BEGIN story  css   */

/* ////ARROW BUTTON /////*/
#Next{
	/* position: fixed;
  bottom:100px;
  left:75%; */

  margin: 50px 25px 0 auto;
	height: 25px;
	width: 100px;
	background: none;
	background-image: url(../img/arrow.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
  outline: none;
  filter: drop-shadow(0px 0px 5px #78CBC4);
  cursor: pointer;	
}

#Back{
	position: fixed;
	height: 20px;
	width: 60px;
	top: 600px;
	left: 900px;
}

#choiceone, #choicetwo, #choicethree, #choicefour, #choicefive, #choicesix, #choiceseven{
	
  /* margin: 5% auto;
  max-width: 65ch;
  background-image: linear-gradient(to top, #3B4D3D 0%, #769979 100%);
  color: white;
  text-align: center;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: .5rem;
  font-family: 'Montserrat', sans-serif; */
  margin: 25px auto auto 5%;
  color: #78CBC4;
  text-align: left;
  border: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
	background: none;
  /* background-image: url(../img/choice-arrow.png);
  background-size: 175px 25px;
  background-repeat:no-repeat;
  background-position: 90% center;
  background-clip: border-box; */
	border: none;
  outline: none;
  filter: drop-shadow(0px 0px 5px #78CBC4);
  cursor:pointer;
}

#choiceone:hover, #choicetwo:hover, #choicethree:hover, #choicefour:hover, #choicefive:hover, #choicesix:hover, #choiceseven:hover{
  color: #fff;
  border-bottom: 3px solid #78CBC4;
   -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}

#choice-arrow{
  width:150px;
  margin:auto;
}

#playboxmain{
color: white; 
text-align: left;
font-size: 16px;
}

#radar-puzzle{
	position: fixed;
	top: 1px;
	left:1px;
}

#tiger-puzzle{
	position: fixed;
	top: 1px;
	left:1px;
}

/* ////////Story text ///////////*/
#mainstory{
	background-size: 100%;
	background-repeat: no-repeat;
  margin: 50px auto;
  max-width: 1000px;
  height: 600px;
}

#mainstory p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #D6DCD5;
  line-height: 1.7;
  max-width: 65ch;
}

.rectanglelargeblack { /*--- removed float and relative positioning, changed margin to auto, dropped opacity a bit*/
  /* position: relative; */
  /* vertical-align: middle;
  line-height: 25px; 
  padding: 30px; */

  height: 600px;
  max-width: 1000px;
  background-color:rgba(21, 30, 36, 0.5);
}

.rectanglelargeblack p{
  margin: auto;
  padding-top:30px;
  padding-bottom:30px;
  align-content: center;
  max-width: 65ch;
}

/*////////////////////Tablet Main Story Styles//////////*/

@media only screen and (max-width: 1001px) and (min-width: 601px){
  .rectanglelargeblack {
    padding: 30px;
  }
  #mainstory p{
    font-size: 18px;
  }
  #Next{
    /* position: fixed;
    bottom:125px;
    left:75%; */
    height: 25px;
    width: 100px;
    background: none;
    background-image: url(../img/arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 5px #78CBC4);
    cursor: pointer;	
  }
  #choiceone, #choicetwo, #choicethree, #choicefour, #choicefive, #choicesix, #choiceseven{
    margin: 25px auto;
    width:100%;
    height:100px;
    color: #78CBC4;
    text-align: left;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: none;
    /* background-image: url(../img/choice-arrow.png);
    background-size: 175px 25px;
    background-repeat:no-repeat;
    background-position:0px bottom;
    background-clip: border-box; */
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 5px #78CBC4);
    cursor: pointer;	
  }
}
/*////////////////////Tablet Main Story Styles//////////*/
@media only screen and (max-width: 600px){
  .rectanglelargeblack {
    padding: 15px;
  }
  #mainstory p{
    font-size: 16px;
  }
  #Next{
    position: fixed;
    bottom:100px;
    left:75%;
    height: 25px;
    width: 100px;
    background: none;
    background-image: url(../img/arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 5px #78CBC4);
    cursor: pointer;	
  }
  #choiceone, #choicetwo, #choicethree, #choicefour, #choicefive, #choicesix, #choiceseven{
 
  }
}

/* radar puzzle  css   */

#playbox{
color: white; 
text-align: center;
font-size: 20px;
}

#const {
	color: white; 
  text-align: center;
  font-size: 20px;
}

#playgame{
	position: fixed;
	size: 20px;
	top: 10px;
	right: 10px;
} 
#main-radar{
  height: 600px;
  width: 1000px;
  margin: auto;
  background-image: url(../../img/kos_radarGame_final3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#stars{
  position: absolute;
  height: px;
  width: 240px;
  top:  14.3%;
  left:  66.5%;
  z-index: -1;
}
#kal{
  position: absolute;
  height: 170px;
  width: 200px;
  top: 11%;
  left: 18.3%;
   z-index: -1;
}

.rectanglelsmaller {
  position: relative;
  height: 250px;
  width: 400px;
  /* background-color: black; */
 
  margin: 1%;
  float: left;
 
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 40px; 
  top: 155px;
  left: 275px
}

#switchone  {
  position: absolute;
  
  left: 35.1%;
  height: 50px;
  width: 32px;
  top: 11.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchonept{
  position: absolute;
  
  left: 35.1%;
  height: 50px;
  width: 32px;
  top: 14.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}


#switchtwo{
  position: absolute;
  
  left: 40%;
  height: 50px;
  width: 32px;
 top: 14.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchtwopt{
position: absolute;
  
  left: 40%;
  height: 50px;
  width: 32px;
  top: 11.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;

}
#switchthree{
  position: absolute;
  
  left: 44.5%;
  height: 48px;
  width: 32px;
  top: 14.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchthreept{
position: absolute;
  
  left: 44.5%;
  height: 50px;
  width: 32px;
  top: 11.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;

}

#switchfour{
  position: absolute;
  
  left: 49.3%;  
  height: 50px;
  width: 32px;
 top: 11.4%;
background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchfourpt{
  position: absolute;
  
  left: 49.3%;  
  height: 50px;
  width: 32px;
  top: 14.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#switchfive{
  position: absolute;

  left: 54%;
  height: 50px;
  width: 32px;
  top: 11.4%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#switchfivept{
  position: absolute;
  
  left: 54%;
  height: 50px;
  width: 32px;
  top: 14.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#switchsix{
  position: absolute;
  height: 50px;
  width: 32px;
  top: 11.4%;
  left: 58.4%;
 background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}
#switchsixpt{
  position: absolute;
  
  left: 58.4%;
  height: 50px;
  width: 32px;
  top: 14.5%;
  background: none;
 
  background-size: 90%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#buttonone{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 44%;
  left: 19.4%;
  
  background: none;
 
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#buttontwo{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 49%;
  left: 19.4%;
  
  background: none;
  background-size: 100%;
  
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#buttonthree{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 54.4%;
  left: 19.4%;
  background: none;
 
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}

#buttonfour{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 59.6%;
  left: 19.4%;
  
  background: none;
 background-size: 100%;
 
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#buttonfive{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 64.7%;
  left: 19.4%;
  
  background: none;
 background-size: 100%;
  
  background-repeat: no-repeat;
  border: none;
  outline: none;
  
}


  
}
/* END radar puzzle css   */

/* BEGIN tiger puzzle  css   */
#slidercenterer{
	/* position: fixed;
	top: 20%;
	left: 30%; */
  margin: auto;
  width: 480px;
}

#table {
  padding-top: 30%;
}

.tiles {
  display: table-cell;
  width: 120px;
  height: 120px;
  background-image: url(../img/foxmask.png); 
  cursor: pointer;
  border: 1px solid white;
}
    
/* position on the image within each tile. Starts in the upper left corner as tile 1 and snakes down to finish with tile 16. This uses a single background image called in the .tiles class */
.tile1 {
  background-position: 0 0;
}
.tile2 {
  background-position: 33% 0;
}
.tile3 {
  background-position: 67% 0;
}
.tile4 {
  background-position: 100% 0;
}
.tile5 {
  background-position: 0 33%;
}
.tile6 {
  background-position: 33% 33%;
}
.tile7 {
  background-position: 67% 33%;
}
.tile8 {
  background-position: 100% 33%;
}
.tile9 {
  background-position: 0 66%;
}
.tile10 {
  background-position: 33% 66%;
}
.tile11 {
  background-position: 66% 66%;
}
.tile12 {
  background-position: 100% 66%;
}
.tile13 {
  background-position: 0 100%;
}
.tile14 {
  background-position:  33% 100%;
}
.tile15 {
  background-position: 67% 100%;
}

/* styled individually as it is needed to keep the white tile separate from the other tiles. */
.tile16 {
  background-color: white;
  display: table-cell;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 1px solid white;
}
/* END tiger puzzle  css   */




.grid {
  display: grid;
  grid-template-columns: 300px 320px 200px;
}
 
.left-column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
  background-color: white;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

img {
  position: fixed;
  width: 490;
  height: 470;
  top: 480px;
  left: 170px;
}


/* HORIZATOR PUZZLE CSS */

.rectanglelarge {
  position: absolute;
  height: 660px;
  width: 1000px;
 	top: 1%;
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 60px; 
}

#textbox{
	position: absolute;
  height: 560px;
  width: 800px;
 	top: 1%;
  margin: 1%;
  float: left;
  border: 2px solid black;
  position: relative;
  opacity: 1;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 60px; 
}

#textboxtext{
	color: white; 
  text-align: center;
  font-size: 20px;
}

#playgame-btn{
	position: fixed;
	height: 50px;
	width: 100px;
	top: 300px;
	left: 450px;
}

/* BEGIN story  css   */
/* #Next {
	position: fixed;
	height: 20px;
	width: 60px;
	top: 600px;
	left: 60px;
}

#Back {
	position: fixed;
	height: 20px;
	width: 60px;
	top: 600px;
	left: 900px;
}

#choiceone {
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 130px;
}

#choicetwo{
	position: fixed;
	height: 40px;
	width: 200px;
	top: 500px;
	left: 400px;
}

#playboxmain{
	color: white; 
text-align: center;
font-size: 20px;
}
#playboxmain2{
	color: white; 
text-align: center;
font-size: 20px;
} */

/* story css */




/* Library */

/* body  {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  font-family: helvetica,sans-serif;
  font-size: 20px;
} */
  
#playboxmain2{
  color: white; 
  text-align: left;
  font-size: 20px;
}
#mainstorylib{
	background-size: 100%;
	background-repeat: no-repeat;
  text-align: center;
}

#playboxmain-horizator{
  position: absolute;
top: 20%;
right: 30%;
width: 50%;
  text-align: left;
  float: right;
  font-size: 20px;
}

/* Library */
/* BEGIN troop */
/* END troop */

/* BEGIN kitchen */
#tea-directions {
  width: 49%;
  float: left;
}

#makeTea-continue {
  clear: both;
}

/*----troop  carrer---*/
#troop-wrapper  {
  width: 100%;
  height:2000px;
  margin: 10%;
  padding: 10%;
}

/*-----KITCHEN CLOSET-----*/
#wrapper2  {
  width: 100%;
  height:2000px;
  margin: 0;
  color: white;
}
#kitchen-closet {
  width: 49%;
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#found-teaKettle:hover {
  cursor: grab;
}

#found-teaKettle:active {
  cursor: grabbing;
}

/*-----CUCUMBER SANDWICH-----*/
#cucmber-sandwich:hover {
  cursor: grab;
}

#cucumber-sandwich:active {
  cursor: grabbing;
}

/* END kitchen */

