body {
  margin: 0;
  color: #D6DCD5;
  font-size: 20px;
  line-height: 1.7em;
  background-color: #151E24;
  background-image:url(../../../img/maingame-starbackground.png);
  background-repeat:repeat-x;
  background-position: bottom;
  height: 100vh;
}

p {
  font-size: 20px;
}

#wrapper-kitchen {
  width: 60%;
  height: 100vh;
  margin: 5% auto 0 auto;
  font-family: 'Montserrat';
  color: #D6DCD5;
  font-size: 20px;
  line-height: 1.7em;
}

button.minigamebutton {
  margin: 0;
}

#wrapper-kitchen li {
  list-style-type: disc;
  font-size: 20px;
}

#tea-directions {
    width: 49%;
    float: left;
}

#menu-2 {
  width: 34%;
  float: left;
}

#elephantKettle {
  width: 66%;
  float: right;
  background-image: url("/game/minigamesingame/kitchen-puzzle/img/kos-teapot-shadow.png");
}

#tea-kettle {
  margin: auto;
  position: static;
}

/*-----KITCHEN CLOSET-----*/
#kitchen-closet {
    width: 34%;
    float: right;
    margin-right: 83px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
    padding: 5px;
  }

  .grid-item {
    height: 100px;
    font-size: 30px;
    text-align: center;
  }

  #found-teaKettle:hover {
    cursor: grab;
  }

  #found-teaKettle:active {
    cursor: grabbing;
  }

  /*-----CUCUMBER SANDWICH-----*/
  #cucmber-sandwich:hover {
    cursor: grab;
  }

  #cucumber-sandwich:active {
    cursor: grabbing;
  }