
#tea-directions {
    width: 49%;
    float: left;
}

/*-----KITCHEN CLOSET-----*/
#kitchen-closet {
    width: 49%;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  #found-teaKettle:hover {
    cursor: grab;
  }

  #found-teaKettle:active {
    cursor: grabbing;
  }

  /*-----CUCUMBER SANDWICH-----*/
  #cucmber-sandwich:hover {
    cursor: grab;
  }

  #cucumber-sandwich:active {
    cursor: grabbing;
  }